{% if serverInfo.environment == "development" %}
<div class="vf-grid">
  <div class="vf-body--text">
    <p><code class="vf-code-example__pre"> ⚠️ You're running the {{serverInfo.environment}} command; Page location {{ page.inputPath }} </code></p>
  </div>
</div>
{% endif %}

<div class="vf-grid">
  <div class="vf-body--text vf-content">
    <a href="https://github.com/visual-framework/vf-demo-design-system/#creating-a-design-system" class="vf-link">{{ 'View `vf-demo-design-system` on GitHub' | markdown | safe }}</a>
  </div>
</div>


<!-- This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} -->
<script src="{{ '/scripts/srcipts.js' | url }}"></script>
