<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/styles.css" />
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/app.css" />
    <title>vf-core-components | Design system boilerplate</title>
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        <a href="https://visual-framework.github.io/vf-welcome/"

class="vf-logo">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-demo-design-system/assets/vf-logo/assets/logo.svg" alt="">
  <span class="vf-logo__text"></span>
</a>

        

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-demo-design-system/" class="vf-breadcrumbs__link">Design system boilerplate</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-demo-design-system/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        <li class="vf-breadcrumbs__item">
          
            vf-core-components
          
        </li>
      </ul>
    </nav>
    

    
<div class="vf-grid">
  <section class="vf-content component-library-notes">

    <!-- no special content -->


    
    

    

    
      <h1>Vf Core Components</h1>

    

    <hr/>
    <small><p>File system location: <code>components/</code></p>
</small>


    

       <h1 class="vf-text vf-text-heading--display vf-text--invert">There are sub-components</h1> 

      <ul class="vf-list vf-list--unordered">
          
            <li class="vf-list__item"><a class="vf-link" href="embl-grid">EMBL Grid</a> <code> embl-grid </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-badge">Badges</a> <code> vf-badge </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-banner">Banner</a> <code> vf-banner </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-blockquote">Visual Framework Blockquote</a> <code> vf-blockquote </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-box">Box</a> <code> vf-box </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-breadcrumbs">Breadcrumbs</a> <code> vf-breadcrumbs </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-button">Button</a> <code> vf-button </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-code-example">Code Example</a> <code> vf-code-example </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-content">Content</a> <code> vf-content </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-core">Vf Core</a> <code> vf-core </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-design-tokens">Vf Design Tokens</a> <code> vf-design-tokens </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-divider">Visual Framework Divider</a> <code> vf-divider </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-eleventy--extensions">Vf Eleventy Extensions</a> <code> vf-eleventy--extensions </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-favicon">Favicon</a> <code> vf-favicon </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-figure">Visual Framework Figure</a> <code> vf-figure </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-font-plex-sans">Plex Sans Font</a> <code> vf-font-plex-sans </code></li>
          
        
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-form__core">Forms</a> <code> vf-form__core </code></li>
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-global-header">Global Header</a> <code> vf-global-header </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-grid">Grid</a> <code> vf-grid </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-grid-page">Page Grid</a> <code> vf-grid-page </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-heading">Visual Framework Headings</a> <code> vf-heading </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-intro">Intro</a> <code> vf-intro </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-lede">Lede</a> <code> vf-lede </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-link">Visual Framework Link</a> <code> vf-link </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-list">Visual Framework Lists</a> <code> vf-list </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-logo">Logo</a> <code> vf-logo </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-navigation">Navigation</a> <code> vf-navigation </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-no-js">No JS detection</a> <code> vf-no-js </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-sass-config">Sass config functions</a> <code> vf-sass-config </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-section-header">Section Header</a> <code> vf-section-header </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="vf-text">Visual Framework Text</a> <code> vf-text </code></li>
          
        </ul>

    
  </section>
</div>



<div class="vf-grid">
  <section>
    <h2>All components in this design system</h2>


    <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-core-components">Vf Core Components</a> <code> vf-core-components </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-sample">Visual Framework Sample Component</a> <code> vf-sample </code></li>
      </ul>
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-demo-design-system/scripts/scripts.js"></script>

  </body>
</html>
