---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk, md
---

{# Use this template for main sections of a site. #}
<div class="vf-body">


<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div></div>
  <div>
    <h1 class="vf-intro__heading">{{title}}</h1>
    <div class="vf-lede">{{subtitle | markdown | safe }}</div>
  </div>
</section>

<main class="vf-grid embl-grid--has-centered-content">
  <div></div>
  <div class="vf-content">

{{ content | safe }}

  </div>
</main>

{%- for post in collections.posts %}
{% if section == post.data.section %}
{% set absolutePostUrl %}{{ metadata.id }}{{ post.url | url }}{% endset %}
<section class="embl-grid embl-grid--has-centered-content">
  <div class="vf-section-header">
    <h2 class="vf-section-header__heading">
      <a href="{{ absolutePostUrl }}" class="vf-link">{{ post.data.title }}</a>
    </h2>
  </div>
  <div class="vf-content">

{{ post.data.subtitle }}

  </div>
</section>
{% endif %}
{%- endfor %}


</div>
