<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/styles.css" />
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/app.css" />
    <title>vf-logo | Design system boilerplate</title>
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        <a href="https://visual-framework.github.io/vf-welcome/" class="vf-logo--responsive" title="Visual Framework 2.0">
          <span class="vf-sr-only">Visual Framework 2.0</span>
        </a>
        

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-demo-design-system/" class="vf-breadcrumbs__link">Design system boilerplate</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-demo-design-system/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        <li class="vf-breadcrumbs__item">
          
            vf-logo
          
        </li>
      </ul>
    </nav>
    

    
<div class="vf-grid">
  <section class="vf-content component-library-notes">

    <!-- no special content -->


    
    

    

    
      <p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-logo"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-logo.svg" alt="npm version"></a></p>
<h2>About</h2>
<h2>Installation and Implementation</h2>
<p>This component is distributed with npm. After <a href="https://www.npmjs.com/get-npm">installing npm</a>, you can install the <code>vf-logo</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/vf-logo
</code></pre>
<p>The source files included are written in <a href="http://sass-lang.com">Sass</a>(<code>scss</code>). You can point your Sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<pre><code>@import &quot;@visual-framework/vf-logo/index.scss&quot;;
</code></pre>
<p><em>Make sure you import any requirements along with the modules.</em></p>

    

    <hr/>
    <small><p>File system location: <code>components/vf-logo</code></p>
</small>


    
  </section>
</div>


  <div class="vf-grid">
    <section>
       <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
    </section>
  </div>

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Default
           <span class="vf-badge vf-badge--pill">alhpa</span> 

           <span class="vf-badge vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-logo--default', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;href&quot;: &quot;http://www.embl.de&quot;,
  &quot;sreen_reader_text&quot;: &quot;Visual Framework 2.0&quot;,
  &quot;image&quot;: &quot;/assets/vf-logo/assets/logo.png&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
          <a href="http://www.embl.de"

class="vf-logo">
  <img src="assets/vf-logo/assets/logo.png" alt="Design system boilerplate">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>

        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://www.embl.de"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-logo"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"assets/vf-logo/assets/logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Design system boilerplate"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-sr-only"</span>&gt;</span>Visual Framework 2.0<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-logo/vf-logo.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-logo/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-logo/index.scss">index.scss</a></li>
<li><a href="components/vf-core-components/vf-logo/package.json">package.json</a></li>
<li><a href="components/vf-core-components/vf-logo/vf-logo.css">vf-logo.css</a></li>
<li><a href="components/vf-core-components/vf-logo/vf-logo.scss">vf-logo.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Responsive
           <span class="vf-badge vf-badge--pill">alhpa</span> 

           <span class="vf-badge vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-logo--responsive', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;href&quot;: &quot;http://www.embl.de&quot;,
  &quot;sreen_reader_text&quot;: &quot;Visual Framework 2.0&quot;,
  &quot;image&quot;: &quot;/assets/vf-logo/assets/logo.png&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
          <a href="http://www.embl.de"

class="vf-logo--responsive">
  <span class="vf-sr-only">Visual Framework 2.0</span>
</a>

        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://www.embl.de"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-logo--responsive"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-sr-only"</span>&gt;</span>Visual Framework 2.0<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-logo/vf-logo--responsive.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-logo/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-logo/index.scss">index.scss</a></li>
<li><a href="components/vf-core-components/vf-logo/package.json">package.json</a></li>
<li><a href="components/vf-core-components/vf-logo/vf-logo.css">vf-logo.css</a></li>
<li><a href="components/vf-core-components/vf-logo/vf-logo.scss">vf-logo.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

<div class="vf-grid">
  <section>
    <h2>All components in this design system</h2>


    <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-core-components">Vf Core Components</a> <code> vf-core-components </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-sample">Visual Framework Sample Component</a> <code> vf-sample </code></li>
      </ul>
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>

    

<div class="vf-grid">
  <div class="vf-body--text vf-content">
    <a href="https://github.com/visual-framework/vf-demo-design-system/#creating-a-design-system" class="vf-link"><p>View <code>vf-demo-design-system</code> on GitHub</p>
</a>
  </div>
</div>


<!-- This page was generated on Invalid DateTime -->
<script src="/vf-demo-design-system/scripts/srcipts.js"></script>

  </body>
</html>
