---
is_index: true
title: Component overview
subtitle: Here are the installed components available in your design system.
date: 2018-04-09 12:24:50
section: components
tags: sections
templateEngineOverride: njk
layout: layouts/section.njk
---

<div class="vf-content">
<ul>
{%- for item in fractalEnvironment.localComponents %}
  {%- if item.isHidden == false %}
<li><a class="vf-link" href="{{ item.handle}}">{{ item.title }}</a></li>
  {% endif %}
{% endfor -%}
</ul>
</div>
