<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/styles.css" />
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/app.css" />
    <title>vf-badge | Design system boilerplate</title>
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        <a href="http://www.embl.de"
class="vf-logo | vf-logo--has-text">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-demo-design-system/assets/vf-logo/assets/logo.svg" alt="Visual Framework 2.0">
  <span class="vf-logo__text">Visual Framework 2.0</span>
</a>

        

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-demo-design-system/" class="vf-breadcrumbs__link">Design system boilerplate</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-demo-design-system/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        <li class="vf-breadcrumbs__item">
          
            vf-badge
          
        </li>
      </ul>
    </nav>
    

    
<div class="vf-grid">
  <section class="vf-content component-library-notes">

    <!-- no special content -->


    
    

    

    
      <h1>Badge Component</h1>
<p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-badge"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-badge.svg" alt="npm version"></a></p>
<h2>About</h2>
<p>The <code>vf-badge</code> component is used to label a page, part of a page, or a component. The <code>vf-badge</code> component can also be a link using <code>&lt;a class=&quot;vf-badge&quot; href=&quot;&quot;&gt;badge title&lt;/a&gt;</code>.</p>
<h2>Installation</h2>
<p>This repository is distributed with <a href="https://www.npmjs.com/">npm</a>. After <a href="https://www.npmjs.com/get-npm">installing npm</a> and <a href="https://classic.yarnpkg.com/en/docs/install">yarn</a>, you can install <code>vf-profile</code> with this command.</p>
<pre><code>$ yarn add --dev @visual-framework/vf-badge
</code></pre>
<h3>Sass/CSS</h3>
<p>The source files included are written in [Sass][sass] (<code>scss</code>) You can simply point your sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<pre><code>@import &quot;@visual-framework/vf-badge/index.scss&quot;;
</code></pre>
<p><em>Make sure you import Sass requirements along with the modules.</em></p>
<h2>Usage</h2>
<p>The <code>vf-badge</code> component is used to denote if a page, section, or link has a production state of <code>alpha</code>, <code>beta</code> or other information.</p>
<h3>Content</h3>
<p>The <code>vf-badge</code> accepts a single text item of content.</p>
<table>
<thead>
<tr>
<th>content type</th>
<th>variable</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td>text</td>
<td><code>text</code></td>
<td></td>
</tr>
</tbody>
</table>
<h3>Nunjucks and yml options</h3>
<h4>Nunjucks and YML variables available</h4>
<table>
<thead>
<tr>
<th>variable</th>
<th>options</th>
<th>default</th>
</tr>
</thead>
<tbody>
<tr>
<td>text</td>
<td></td>
<td></td>
</tr>
<tr>
<td>badge_href</td>
<td></td>
<td>null</td>
</tr>
<tr>
<td>theme</td>
<td>'primary', 'secondary', 'tertiary'</td>
<td></td>
</tr>
<tr>
<td>style</td>
<td>'pill', 'rounded', 'square', 'outline'</td>
<td></td>
</tr>
<tr>
<td>override_class</td>
<td></td>
<td></td>
</tr>
<tr>
<td>id</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h4>Component Specific Variants</h4>
<p>The <code>vf-badge</code> allows for two sets of variants</p>
<h5>Theme Variants</h5>
<p>There are three theme variants available for the component that are <strong>primary</strong>, <strong>secondary</strong>, and <strong>tertiary</strong>. To add a theme to the component you would need to add <code>theme: primary</code>, <code>theme: secondary</code>, or <code>theme: tertiary</code> to the <code>.yml</code> file.</p>
<h5>Design Variants</h5>
<p>There are four design variants for the component. We have <code>square</code>, <code>pill</code>, and <code>rounded</code> as well as <code>outline</code>. The <code>outline</code> variant can be used along with another variant so the way we write this in code is a little different. To only have a rounded button we should write <code>[&quot;rounded&quot;]</code> but if we wanted to have a rounded button with the outline rather than filled colour we would have to write <code>[&quot;outline&quot;, &quot;rounded&quot;]</code>.</p>
<h2>Help</h2>
<ul>
<li><a href="https://visual-framework.github.io/vf-welcome/troubleshooting/">Read the Visual Framework troubleshooting</a></li>
<li><a href="https://github.com/visual-framework/vf-core/issues">Open a ticket</a></li>
<li><a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ">Chat on Slack</a></li>
</ul>

    

    <hr/>
    <small><p>File system location: <code>components/vf-badge</code></p>
</small>


    
  </section>
</div>


  <div class="vf-grid">
    <section>
       <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
    </section>
  </div>

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Default
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--default', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Primary
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--primary', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;style&quot;: [
    &quot;outline&quot;,
    &quot;rounded&quot;
  ],
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;theme&quot;: &quot;primary&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--primary vf-badge--outline vf-badge--rounded">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--primary vf-badge--outline vf-badge--rounded"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Secondary
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--secondary', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;beta&quot;,
  &quot;theme&quot;: &quot;secondary&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--secondary">beta</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--secondary"</span>&gt;</span>beta<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Tertiary
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--tertiary', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;theme&quot;: &quot;tertiary&quot;,
  &quot;override_class&quot;: &quot;your-extra-class&quot;,
  &quot;id&quot;: &quot;your-id&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span id="your-id" class="vf-badge vf-badge--tertiary | your-extra-class">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"your-id"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--tertiary | your-extra-class"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Outline
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--outline', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;style&quot;: [
    &quot;outline&quot;
  ]
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--outline">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--outline"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Rounded
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--rounded', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;style&quot;: [
    &quot;rounded&quot;
  ]
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--rounded">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--rounded"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Pill
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--pill', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;style&quot;: [
    &quot;pill&quot;
  ]
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--pill">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--pill"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Square
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--square', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;style&quot;: [
    &quot;square&quot;
  ],
  &quot;theme&quot;: &quot;primary&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--primary vf-badge--square"></span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--primary vf-badge--square"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Phases
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--phases', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;alpha&quot;,
  &quot;theme&quot;: &quot;tertiary&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <span class="vf-badge vf-badge--tertiary">alpha</span> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge vf-badge--tertiary"</span>&gt;</span>alpha<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Link
           <span class="vf-badge vf-badge--primary vf-badge--pill">live</span> 

           <span class="vf-badge vf-badge--primary vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-badge--link', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;badge_href&quot;: &quot;JavaScript:Void(0);&quot;,
  &quot;text&quot;: &quot;beta&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
           <a href="JavaScript:Void(0);" class="vf-badge">beta</a> 
        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre> <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"JavaScript:Void(0);"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-badge"</span>&gt;</span>beta<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-core-components/vf-badge/vf-badge.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-core-components/vf-badge/CHANGELOG.md">CHANGELOG.md</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.css">vf-badge.css</a></li>
<li><a href="components/vf-core-components/vf-badge/vf-badge.scss">vf-badge.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

<div class="vf-grid">
  <section>
    <h2>All components in this design system</h2>


    <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-core-components">Vf Core Components</a> <code> vf-core-components </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-local-overrides">vf-local-overrides</a> <code> vf-local-overrides </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-sample">Visual Framework Sample Component</a> <code> vf-sample </code></li>
      </ul>
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-demo-design-system/scripts/scripts.js"></script>

  </body>
</html>
