<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/styles.css" />
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/app.css" />
    <title>vf-sample | Design system boilerplate</title>
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        <a href="https://visual-framework.github.io/vf-welcome/"

class="vf-logo">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-demo-design-system/assets/vf-logo/assets/logo.svg" alt="">
  <span class="vf-logo__text"></span>
</a>

        

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-demo-design-system/" class="vf-breadcrumbs__link">Design system boilerplate</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-demo-design-system/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        <li class="vf-breadcrumbs__item">
          
            vf-sample
          
        </li>
      </ul>
    </nav>
    

    
<div class="vf-grid">
  <section class="vf-content component-library-notes">

    <!-- no special content -->


    
    

    

    
      <h2>About</h2>
<p>A sample component for your local project.</p>

    

    <hr/>
    <small><p>File system location: <code>components/vf-sample</code></p>
</small>


    
  </section>
</div>


  <div class="vf-grid">
    <section>
       <h1 class="vf-text vf-text-heading--display vf-text--invert">Variants</h1> 
    </section>
  </div>

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Default
           <span class="vf-badge vf-badge--pill">beta</span> 

           <span class="vf-badge vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-sample--default', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;and here is some passed text&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
          <p>I'm a sample and here is some passed text</p>

        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>I'm a sample and here is some passed text<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-sample/vf-sample.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-sample/index.scss">index.scss</a></li>
<li><a href="components/vf-sample/vf-sample.scss">vf-sample.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

  <div class="vf-grid">
    <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: Another Variant
           <span class="vf-badge vf-badge--pill">beta</span> 

           <span class="vf-badge vf-badge--pill">element</span> 
        </h3>

        <h4>Nunjucks demo</h4>


        <pre><code>{% render '@vf-sample--another-variant', {
  &quot;component-type&quot;: &quot;element&quot;,
  &quot;text&quot;: &quot;and some passed text from another variant&quot;
} %}
        </code></pre>

        <h4>Sample output</h4>


      </section>
    </div>

    
      <div class="vf-grid">
        <section class="">
          <p>I'm a sample and some passed text from another variant</p>

        </section>
      </div>
    

    <div class="vf-grid">
      <section class="vf-content">

        <h4>Sample output as HTML</h4>


        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>I'm a sample and some passed text from another variant<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        </pre>

        <h3>Assets</h3>
<ul>
<li><a href="/src/components/vf-sample/vf-sample.njk">Nunjucks template</a>
<ul>
<li><a href="components/vf-sample/index.scss">index.scss</a></li>
<li><a href="components/vf-sample/vf-sample.scss">vf-sample.scss</a></li>
</ul>
</li>
</ul>



      </section>
    </div>
  

<div class="vf-grid">
  <section>
    <h2>All components in this design system</h2>


    <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-core-components">Vf Core Components</a> <code> vf-core-components </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-local-overrides">vf-local-overrides</a> <code> vf-local-overrides </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-sample">Visual Framework Sample Component</a> <code> vf-sample </code></li>
      </ul>
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-demo-design-system/scripts/scripts.js"></script>

  </body>
</html>
