<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/styles.css" />
    <link rel="stylesheet" media="all" href="/vf-demo-design-system/css/app.css" />
    <title>vf-sass-config | Design system boilerplate</title>
  </head>
  <body class=" vf-body" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        <a href="https://visual-framework.github.io/vf-welcome/"

class="vf-logo">
  <img class="vf-logo__image" src="https://visual-framework.github.io/vf-demo-design-system/assets/vf-logo/assets/logo.svg" alt="">
  <span class="vf-logo__text"></span>
</a>

        

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>
    
    
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="/vf-demo-design-system/" class="vf-breadcrumbs__link">Design system boilerplate</a>
        </li>
        
        
          
          <li class="vf-breadcrumbs__item">
            <a href="/vf-demo-design-system/components" class="vf-breadcrumbs__link">Components</a>
          </li>
        
        <li class="vf-breadcrumbs__item">
          
            vf-sass-config
          
        </li>
      </ul>
    </nav>
    

    
<div class="vf-grid">
  <section class="vf-content component-library-notes">

    <!-- no special content -->


    
    

    

    
      <h1>Sass config functions</h1>

    

    <hr/>
    <small><p>File system location: <code>components/</code></p>
</small>


    

       <h1 class="vf-text vf-text-heading--display vf-text--invert">There are sub-components</h1> 

      <ul class="vf-list vf-list--unordered">
          
            <li class="vf-list__item"><a class="vf-link" href="functions">Functions</a> <code> functions </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="mixins">Mixins</a> <code> mixins </code></li>
          
        
          
            <li class="vf-list__item"><a class="vf-link" href="variables">Variables</a> <code> variables </code></li>
          
        </ul>

    
  </section>
</div>



<div class="vf-grid">
  <section>
    <h2>All components in this design system</h2>


    <ul class="vf-list vf-list--unordered">
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-componenet-rollup">Visual Framework Componet Rollup</a> <code> vf-componenet-rollup </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-core-components">Vf Core Components</a> <code> vf-core-components </code></li>
      
        <li class="vf-list__item vf-content"><a class="vf-link" href="../vf-sample">Visual Framework Sample Component</a> <code> vf-sample </code></li>
      </ul>
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>

    

<!-- This page was generated on Invalid DateTime -->
<script src="/vf-demo-design-system/scripts/scripts.js"></script>

  </body>
</html>
