---
is_index: true
title: Patterns
subtitle: More than components, this is how you should do things.
section: patterns
tags: sections
date: 2018-08-28 12:24:50
layout: layouts/section.njk
---

To come.
