---
subtitle: No subtitle on the homepage.
date: 2018-08-22 12:24:50
layout: layouts/page.njk
is_index: true
---

{% set homepageIntroText %}

  {% markdown %}
  This boilerplate is a highly componentised structure for your design system and documentation powered by the [Eleventy](https://www.11ty.io) static site generator and [Fractal component library](https://fractal.build/). It gives access to the [Visual Framework](https://visual-framework.github.io/vf-welcome/) component system, including a [`/components`]({{'/components' | url}}) url to document and demonstrate all components available. You can combine the documentation and components to make higher-level patterns and guidance.
  {% endmarkdown %}

{% endset %}

{% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    homepageIntroText | replace("<p>", "") | replace("</p>", "")
  ]
} %}

{# <section class="vf-intro | embl-grid embl-grid--has-centered-content">
<div>
  <!-- empty -->
</div>
<div>
</div>
</section> #}

<section class="embl-grid embl-grid--has-centered-content">
  <div></div>
  <div class="vf-content">
    <h2 class="vf-text vf-text-heading--1 vf-text--invert">Design system sections</h2>
    {# show all pages classes as sections #}
    {%- for section in collections.sections  %}
      {% if section.data.is_index == true %}
        {% set absolutePostUrl %}{{ metadata.id }}{{ section.url }}{% endset %}

          {% markdown %}
          ## [{{ section.data.title }}]({{ absolutePostUrl | url }})

          {{ section.data.subtitle }}
          {% endmarkdown %}

      {% endif %}
    {%- endfor %}
  </div>
</section>
